form.card {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.entry-form .img-wrapper {
  margin-right: 12px;
  width: calc(50% - 12px);
  border-radius: 8px;
  overflow: hidden;
  height: 348px;
  margin-bottom: 24px;
}

.entry-form .text-wrapper {
  padding-left: 12px;
}

.entry-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.entry-form span {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
}

.entry-form input,
.entry-form textarea {
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #B6B6B6;
  font-size: 16px;
  background: transparent;
}

.entry-form textarea {
  min-height: 200px;
  resize: vertical; /* by default can also resize horizontally, this disables it */
}

.entry-form input:focus,
.entry-form textarea:focus {
  outline: solid 1px #562B81;
}

.entry-form .btns-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.entry-form .invalid-input {
  outline: medium solid red;
}

.delete-entry-btn {
  background: transparent;
  color: #DC2626;
  text-decoration: underline;
  border: none;
  font-size: 14px;
}

.save-or-cancel .btn {
  margin-left: 24px; 
}

.entry-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  text-align: center;
}

.entry-not-found > * {
  margin-bottom: 16px;
}

.entry-not-found .img-wrapper {
  max-width: 400px;
}

/*

    DESKTOP

*/

@media (max-width: 992px) {

  .entry-form .img-wrapper {
    height: 280px;
    width: 100%;
    margin-right: 0;
  }

  .entry-form .text-wrapper {
    padding-left: 0;
  }

  .entry-form textarea {
    min-height: 120px;
  }
}

@media (max-width: 576px) {
  form.card {
    padding: 24px; 
  }
  .entry-form .btns-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .save-or-cancel .btn {
    margin: 0 12px;
  }

  .delete-entry-btn {
    margin: 24px 0 8px;
  }
}