form.card {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

.new-entry .img-wrapper {
  border-radius: 8px;
  overflow: hidden;
  height: 348px;
  margin-right: 12px;
  width: calc(50% - 12px);
  margin-bottom: 24px;
}

.new-entry .text-wrapper {
  padding-left: 12px;
}

.new-entry label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.new-entry span {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
}

.new-entry input,
.new-entry textarea {
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #B6B6B6;
  font-size: 16px;
  background: transparent;
}

.new-entry textarea {
  min-height: 200px;
  resize: vertical; /* by default can also resize horizontally, this disables it */
}

.new-entry input:focus,
.new-entry textarea:focus {
  outline: solid 1px #562B81;
}

.new-entry .btns-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.new-entry .invalid-input {
  outline: medium solid red;
}

.delete-entry-btn {
  background: transparent;
  color: #DC2626;
  text-decoration: underline;
  border: none;
  font-size: 14px;
}

.save-or-cancel .btn {
  margin-left: 24px; 
}

/*

    DESKTOP

*/

@media (max-width: 992px) {
  form.card {
    padding: 20px; 
  }
  .new-entry .img-wrapper {
    height: 280px;
    width: 100%;
    margin-right: 0;
  }

  .new-entry .text-wrapper {
    padding-left: 0;
  }

  .new-entry textarea {
    min-height: 120px;
  }
}

@media (max-width: 576px) {
  .new-entry .btns-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .save-or-cancel .btn {
    margin: 0 12px;
  }

  .delete-entry-btn {
    margin: 24px 0 8px;
  }
}