.new-entry .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-entry form {
  display: flex;
  flex-wrap: wrap;
}

.new-entry .img-wrapper {
  margin-top: 16px;
  border-radius: 8px;
  overflow: hidden;
  height: 348px;
  margin-right: 12px;
  width: calc(50% - 12px)
}

.new-entry .text-wrapper {
  padding-left: 12px;
}

.new-entry label {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.new-entry span {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
}

.new-entry input,
.new-entry textarea {
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #B6B6B6;
  font-size: 16px;
  background: transparent;
}

.new-entry textarea {
  min-height: 200px;
  resize: vertical; /* by default can also resize horizontally, this disables it */
}

.new-entry input:focus,
.new-entry textarea:focus {
  outline: solid 1px #562B81;
}

.new-entry .btns-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.new-entry .invalid-input {
  outline: medium solid red;
}

/*

    Desktop

*/

@media (max-width: 992px) {

  .new-entry .img-wrapper {
    height: 250px;
    width: 100%;
    margin-right: 0;
  }

  .new-entry .text-wrapper {
    padding-left: 0;
  }

  .new-entry textarea {
    min-height: 120px;
  }
}