.auth-prompt {
  transform: translateY(-40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.auth-prompt .fa-lock {
  font-size: 40px;
}

.auth-prompt h1 {
  margin: 32px 0;
}

.auth-prompt .btns-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.auth-prompt .btn {
  padding: 12px 40px;
  font-size: 20px;
  margin: 0 24px;
}