nav {
  background: #562B81;
  color: white;
}

nav .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  font-size: 24px;
}

nav .title {
  display: flex;
  align-items: center;
}

nav .title .btn {
  margin-left: 16px;
  font-size: 16px;
}

.auth .btn {
  background-color: #F0F0F0;
  color: #562B81;
  font-weight: bold;
  margin-left: 32px;
}