nav {
  background: #562B81;
  color: white;
}

nav .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  font-size: 24px;
}

nav .title {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 0;
}

nav .fa-bookmark {
  font-size: 20px;
  margin-right: 12px;
}

nav .title a {
  margin-left: 24px;
}

nav .btn {
  font-size: 16px;
}

nav .auth .btn {
  background-color: #F0F0F0;
  color: #562B81;
  font-weight: bold;
  margin-left: 32px;
}

nav .auth .greeting {
  pointer-events: none;
}

/*

    MOBILE

*/

@media screen and (max-width: 992px) {
  nav .title .links-wrapper {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  nav .auth .greeting {
    display: none;
  }
}